<!DOCTYPE html>
<html ng-app="helpDesk" ng-strict-di>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta charset="utf-8">
	<title>juarezpcfix</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<base href="/">

			<link rel="shortcut icon" href="/src/assets/images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/src/assets/images/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="/dist/css/style.min.css?v=1572431924631">

</head>
<body scroll-to>


<div ng-include src="'/src/app/main/views/preloader.html'" ng-show="!profile || current.showGlobalLoader"></div>


<div ng-if="logout" class="logout-content">
	<div ng-include src="'/src/app/main/views/logout.html'" ng-controller="LogoutController"></div>
</div>

<div class="mainWrapper full-height-include" ng-controller="PageController as pageCtrl" ng-show="profile && !logout"
     ng-class="{'mainWrapperPrint': $state.includes('ticketPrint')}">
	<div ng-if="$state.includes('portal') && showNavBar">
		<div ng-include src="'/src/app/main/views/navbar-portal.html'"></div>
	</div>

	<div class="container-fluid full-height-include">

        <div ng-if="!$state.includes('error') && !$state.includes('tv')  && !$state.includes('instances') && !$state.includes('portal') && !$state.includes('ticketPrint') && showNavBar">
            <div class="row nopadding"  ng-include src="'/src/app/main/views/navbar.html'"></div>
        </div>

		<div class="row full-height-include" ng-class="{'promotion-open': promoteFeature(), 'main-page-content': !$state.includes('portal') && !$state.includes('ticketPrint')}">
			<div class="full-height-include"  ui-view ng-class="{'portal-container': $state.includes('portal')}"></div>
		</div>

	</div>

	<div ng-include src="'/src/app/main/views/tooltips.html'" ng-controller="TooltipController as toolTipCtrl"></div>

</div>

<feature-intro ng-if="!isAddon" state="current.showIntro" on-boarding-items="current.onboardingItems"></feature-intro>

<!--need this for set google analytics UA ID dynamically-->
<script> window.SCUAID = "UA-76860035-6";</script>

<script src="/dist/js/vendor.min.js?v=1572431924631"></script>


<script src="/dist/js/app.min.js?v=1572431924631"></script>

<!--
<script src="/bower_components/angular-mocks/angular-mocks.js?v=1572431924631"></script>
<script src="/src/app/main/mockedResponses.js?v=1572431924631"></script>
-->


<!-- inject:js -->

<script src="/dist/js/templateCacheHtml.js?v=1572431924631"></script>

<!-- endinject -->

</body>

</html>
